$grey: #7e7e7e


*
	letter-spacing: 1px
@mixin ab_center
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)


header#section_header
	.slider-wrap
		.img-wrap
			position: relative
			padding-bottom: 40%
			overflow: hidden
			img
				width: 100%
				+ab_center
		ul.slick-dots
			bottom: 20px
			li button:before
				color: white
section#section_chance
	background:url(src/dist/img/bg-1.png) cover center center
	padding: 60px 0
	.col-md-7, .col-md-5
		display: flex
		align-items: center
		justify-content: center


section#section_banner3
	.img-wrap
		width: 100%
		img
			width: 100%

section#video
	padding: 80px 0
	.col-lg-6
		justify-content: center
		align-items: center
		display: flex
	.video-wrap
		width: 100%
		position: relative
		padding-bottom: 56.25%
		@media (max-width: 991px)
			margin-bottom: 50px
		iframe
			height: 100%
			width: 100%
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			
	.content-wrap
		.title-area
			text-align: center
			margin-bottom: 50px
			h2
				font-size: 20px
				margin: 10px 0
				letter-spacing: 3px
		.content
			font-weight: 300
			padding: 0 10px
			@media (max-width: 991px)
				padding: 0 0px
			p
				letter-spacing: 2px
				line-height: 28px
				color: #666
				text-align: justify

section.section_brand
	background-position: center center
	background-size: cover
	height: 500px
	position: relative
	@media (max-width: 991px)
		height: 400px
	&:before
		content: ""
		display: block
		+ab_center
		width: 100%
		height: 100%
		background: rgba(black, 0.6)
		pointer-events: none
		//z-index: 99
	&:after
		content: "代理專區"
		writing-mode: vertical-lr
		display: block
		width: 250px
		height: 250px
		background: white
		position: absolute
		transform: translate(-70%, -50%)
		left: 0
		top: 50%
		z-index: 1000
		border-radius: 50%
		text-align: center
		padding-left: 190px
		letter-spacing: 3px
		pointer-events: none
		transform: translate(-100%, -50%)
		transition: .3s



	
	a
		display: block
		width: 100%
		height: 100%
	.logo-area
		+ab_center
		width: 130px
		img
			width: 100%
	&:hover
		&:after
			transform: translate(-70%, -50%)


section#contact, section.messege
	background-size: cover
	background-position: center center
	padding: 80px 0
	.form-wrap
		background: rgba(white, 0.9)
		padding: 60px 20px
		max-width: 700px 
		margin: 0 auto
		h2
			text-align: center
			margin-bottom: 50px
			font-size: 24px
		.input-wrap
			margin-bottom: 30px
			input, textarea
				width: 100%
				border: 1px solid #ddd
				padding: 7px 15px
				border-radius: 5px
				background: none
				letter-spacing: 2px
		.sub-area
			text-align: center
			button
				color: white
				background: black
				border: none
				font-weight: 300
				padding: 10px 40px
				border-radius: 5px
				cursor: pointer
				transition: .3s
				&:hover
					transform: translateY(2px)
					box-shadow: 0 1px 10px rgba(black, 0.7)
				@media (max-width: 991px)
					width: 100%
		::placeholder
			color: #aaa


footer#section_footer
	border-top: 1px solid #eee
	.container
		padding-top: 80px
		padding-bottom: 80px
		.logo-wrap
			img
				width: 100%
				max-width: 160px
		.list-wrap, .address-wrap
			ul
				padding: 0
				margin: 0
				li
					list-style: none
					font-size: 14px
					margin-bottom: 5px
					color: #777
					font-weight: 300
					a
						cursor: pointer
						color: #777
				.list-title
					margin-bottom: 30px
		.list-wrap
			width: 60%
			margin: 0 auto
			@media (max-width: 991px)
				width: 100%
				margin: 50px 0
	.cpr-area
		text-align: center
		font-size: 12px
		color: #999
		background: #f0f0f0
		padding: 15px 0
		letter-spacing: 2px







nav
	padding-top: 15px !important
	padding-bottom: 15px !important
	background: white
	a.nav-link, a.dropdown-item
		font-size: 14px
		color: black !important
		padding-left: 20px !important
		padding-right: 20px !important
		font-weight: 300
		text-align: center
	a.nav-link
		position: relative
		
		&:before
			content: ""
			display: block
			position: absolute
			height: 1px
			width: 0%
			background-color: #777
			top: 40px
			left: 50%
			transform: translateX(-50%)
			transition: .3s
		&:hover
			&:before
				width: 50%
		@media (max-width: 991px)
			padding-top: 20px
			padding-bottom: 20px
			text-align: center
	.fb-icon-bg
		position: relative
		display: block
		text-align: center
		.fab
			color: white

			&:after
				content: ""
				display: block
				+ab_center
				height: 25px
				width: 25px
				background: $grey
				z-index: -1
				border-radius: 50%
.nav-shadow
	box-shadow: 0 1px 10px rgba(black, 0.2)






* 
	//border: 1px solid

	
















