@charset "UTF-8";
* {
  letter-spacing: 1px; }

header#section_header .slider-wrap .img-wrap {
  position: relative;
  padding-bottom: 40%;
  overflow: hidden; }
  header#section_header .slider-wrap .img-wrap img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
header#section_header .slider-wrap ul.slick-dots {
  bottom: 20px; }
  header#section_header .slider-wrap ul.slick-dots li button:before {
    color: white; }

section#section_chance {
  padding: 60px 0; }
  section#section_chance .col-md-7, section#section_chance .col-md-5 {
    display: flex;
    align-items: center;
    justify-content: center; }

section#section_banner3 .img-wrap {
  width: 100%; }
  section#section_banner3 .img-wrap img {
    width: 100%; }

section#video {
  padding: 80px 0; }
  section#video .col-lg-6 {
    justify-content: center;
    align-items: center;
    display: flex; }
  section#video .video-wrap {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; }
    @media (max-width: 991px) {
      section#video .video-wrap {
        margin-bottom: 50px; } }
    section#video .video-wrap iframe {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  section#video .content-wrap .title-area {
    text-align: center;
    margin-bottom: 50px; }
    section#video .content-wrap .title-area h2 {
      font-size: 20px;
      margin: 10px 0;
      letter-spacing: 3px; }
  section#video .content-wrap .content {
    font-weight: 300;
    padding: 0 10px; }
    @media (max-width: 991px) {
      section#video .content-wrap .content {
        padding: 0 0px; } }
    section#video .content-wrap .content p {
      letter-spacing: 2px;
      line-height: 28px;
      color: #666;
      text-align: justify; }

section.section_brand {
  background-position: center center;
  background-size: cover;
  height: 500px;
  position: relative; }
  @media (max-width: 991px) {
    section.section_brand {
      height: 400px; } }
  section.section_brand:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    pointer-events: none; }
  section.section_brand:after {
    content: "代理專區";
    writing-mode: vertical-lr;
    display: block;
    width: 250px;
    height: 250px;
    background: white;
    position: absolute;
    transform: translate(-70%, -50%);
    left: 0;
    top: 50%;
    z-index: 1000;
    border-radius: 50%;
    text-align: center;
    padding-left: 190px;
    letter-spacing: 3px;
    pointer-events: none;
    transform: translate(-100%, -50%);
    transition: 0.3s; }
  section.section_brand a {
    display: block;
    width: 100%;
    height: 100%; }
  section.section_brand .logo-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px; }
    section.section_brand .logo-area img {
      width: 100%; }
  section.section_brand:hover:after {
    transform: translate(-70%, -50%); }

section#contact, section.messege {
  background-size: cover;
  background-position: center center;
  padding: 80px 0; }
  section#contact .form-wrap, section.messege .form-wrap {
    background: rgba(255, 255, 255, 0.9);
    padding: 60px 20px;
    max-width: 700px;
    margin: 0 auto; }
    section#contact .form-wrap h2, section.messege .form-wrap h2 {
      text-align: center;
      margin-bottom: 50px;
      font-size: 24px; }
    section#contact .form-wrap .input-wrap, section.messege .form-wrap .input-wrap {
      margin-bottom: 30px; }
      section#contact .form-wrap .input-wrap input, section#contact .form-wrap .input-wrap textarea, section.messege .form-wrap .input-wrap input, section.messege .form-wrap .input-wrap textarea {
        width: 100%;
        border: 1px solid #ddd;
        padding: 7px 15px;
        border-radius: 5px;
        background: none;
        letter-spacing: 2px; }
    section#contact .form-wrap .sub-area, section.messege .form-wrap .sub-area {
      text-align: center; }
      section#contact .form-wrap .sub-area button, section.messege .form-wrap .sub-area button {
        color: white;
        background: black;
        border: none;
        font-weight: 300;
        padding: 10px 40px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s; }
        section#contact .form-wrap .sub-area button:hover, section.messege .form-wrap .sub-area button:hover {
          transform: translateY(2px);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7); }
        @media (max-width: 991px) {
          section#contact .form-wrap .sub-area button, section.messege .form-wrap .sub-area button {
            width: 100%; } }
    section#contact .form-wrap ::placeholder, section.messege .form-wrap ::placeholder {
      color: #aaa; }

footer#section_footer {
  border-top: 1px solid #eee; }
  footer#section_footer .container {
    padding-top: 80px;
    padding-bottom: 80px; }
    footer#section_footer .container .logo-wrap img {
      width: 100%;
      max-width: 160px; }
    footer#section_footer .container .list-wrap ul, footer#section_footer .container .address-wrap ul {
      padding: 0;
      margin: 0; }
      footer#section_footer .container .list-wrap ul li, footer#section_footer .container .address-wrap ul li {
        list-style: none;
        font-size: 14px;
        margin-bottom: 5px;
        color: #777;
        font-weight: 300; }
        footer#section_footer .container .list-wrap ul li a, footer#section_footer .container .address-wrap ul li a {
          cursor: pointer;
          color: #777; }
      footer#section_footer .container .list-wrap ul .list-title, footer#section_footer .container .address-wrap ul .list-title {
        margin-bottom: 30px; }
    footer#section_footer .container .list-wrap {
      width: 60%;
      margin: 0 auto; }
      @media (max-width: 991px) {
        footer#section_footer .container .list-wrap {
          width: 100%;
          margin: 50px 0; } }
  footer#section_footer .cpr-area {
    text-align: center;
    font-size: 12px;
    color: #999;
    background: #f0f0f0;
    padding: 15px 0;
    letter-spacing: 2px; }

nav {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  background: white; }
  nav a.nav-link, nav a.dropdown-item {
    font-size: 14px;
    color: black !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-weight: 300;
    text-align: center; }
  nav a.nav-link {
    position: relative; }
    nav a.nav-link:before {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      width: 0%;
      background-color: #777;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.3s; }
    nav a.nav-link:hover:before {
      width: 50%; }
    @media (max-width: 991px) {
      nav a.nav-link {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center; } }
  nav .fb-icon-bg {
    position: relative;
    display: block;
    text-align: center; }
    nav .fb-icon-bg .fab {
      color: white; }
      nav .fb-icon-bg .fab:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 25px;
        width: 25px;
        background: #7e7e7e;
        z-index: -1;
        border-radius: 50%; }

.nav-shadow {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=index.css.map */
