a {
  text-decoration: none;
  color: #000000; }
  a:hover {
    text-decoration: none;
    color: #000000; }

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

.main-color {
  color: #373c55; }

.second-color {
  color: #707bb3; }

.third-color {
  color: #E9EEF5; }

.forth-color {
  color: #B8C5D4; }

.success-color {
  color: #38B52F; }

.fail-color {
  color: #CC483F; }

.main-bg-color {
  background-color: #373c55; }

.second-bg-color {
  background-color: #707bb3; }

body {
  background-color: #f9f9f9;
  color: #373c55; }

.cus-fixed-top {
  position: fixed;
  top: 60px;
  right: 0;
  left: 0;
  z-index: 1030; }

nav.main-nav {
  width: 100%;
  background-color: #E9EEF5;
  padding: 0 !important; }
  nav.main-nav ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%; }
    nav.main-nav ul li {
      position: relative;
      width: 20%;
      height: 100%;
      display: block;
      box-sizing: border-box;
      text-align: center; }
      nav.main-nav ul li a {
        position: relative;
        display: block;
        padding: 10px 15px;
        line-height: 40px;
        color: #373c55;
        font-size: 1rem;
        font-weight: 600; }
        @media screen and (max-width: 767px) {
          nav.main-nav ul li a {
            width: 90px;
            padding: 0;
            font-size: .8rem;
            margin: 0 auto; } }
        nav.main-nav ul li a:after {
          content: '';
          display: inline-block;
          width: 4px;
          height: 4px;
          background-color: #373c55;
          transform: rotate(45deg) translateY(-50%);
          position: absolute;
          left: 24%;
          top: 50%; }
          @media screen and (max-width: 767px) {
            nav.main-nav ul li a:after {
              left: 8%; } }
        nav.main-nav ul li a.active {
          background-color: #373c55;
          color: #fff; }

footer#section_footer .link li + li {
  border-left: 1px solid #fff;
  padding-left: 1rem; }

.section_title .title_section {
  width: 100%;
  height: 0;
  padding-bottom: 20%;
  position: relative; }
  .section_title .title_section .title_section_mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .3;
    z-index: 1; }
  .section_title .title_section > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    height: 100%; }
.section_title .title_section_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; }
  .section_title .title_section_wrap .custom-h3 {
    color: #fff;
    font-weight: 400; }
  @media screen and (max-width: 767px) {
    .section_title .title_section_wrap {
      width: 100%; }
      .section_title .title_section_wrap .custom-h3 {
        font-size: 1.5rem;
        text-align: center; } }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.75rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.25rem; }

.title h5 {
  font-size: 1.5rem;
  color: #373c55;
  display: inline-block;
  position: relative; }
  .title h5:before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #373c55;
    transform: rotate(45deg) translateX(-50%);
    position: absolute;
    left: -10%;
    top: 50%; }
  .title h5:after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #373c55;
    transform: rotate(45deg) translateX(-50%);
    position: absolute;
    right: -10%;
    top: 50%; }

.flip-clock-wrapper ul li a div div.inn, body .flip-clock-small-wrapper ul li a div div.inn {
  color: #CCCCCC;
  background-color: #333333; }

.flip-clock-dot, .flip-clock-small-wrapper .flip-clock-dot {
  background: #323434; }

.flip-clock-wrapper .flip-clock-meridium a, .flip-clock-small-wrapper .flip-clock-meridium a {
  color: #323434; }

.open-btn, .close-btn {
  position: relative;
  color: #373b55;
  font-weight: 300;
  cursor: pointer;
  font-size: 14px;
  padding-top: 10px; }

.cus-btn {
  color: #fff;
  background-color: #373c55; }
  .cus-btn:hover {
    color: #fff;
    background-color: #575f87; }

.buy {
  position: fixed;
  bottom: 0;
  left: 0%;
  z-index: 999;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 1.33rem;
  font-weight: 400;
  background-color: #CC2F49;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .buy:hover {
    background-color: #dd6b7e;
    color: #fff; }

section#section_chance {
  background-image: url("../dist/img/bg-1.png");
  background-size: cover;
  background-position: center center;
  padding: 4rem 0; }
  section#section_chance .title {
    padding-bottom: 2rem; }
  section#section_chance .txt span:first-child {
    font-size: 4rem; }

section#section_counting {
  padding: 4rem  0; }
  section#section_counting .title {
    font-size: 2rem; }

@media (max-width: 767.98px) {
  section#section_counting .title {
    text-align: center;
    width: 100%;
    padding-bottom: 2rem; } }
section#section_include {
  background-image: url("../dist/img/bg-2.png");
  background-size: cover;
  background-attachment: fixed;
  padding: 4rem 0; }
  section#section_include .title {
    padding-bottom: 2rem; }
  section#section_include .tag {
    display: inline-block;
    padding: 8px 24px;
    font-size: 1.25rem;
    background-color: #373b55;
    border-radius: 40px;
    color: #fff; }
  section#section_include .txt {
    display: inline-block;
    margin-left: 8px;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 72%; }
  section#section_include .open-btn {
    margin-left: 8px; }

section#section_draw {
  padding: 4rem 0; }
  section#section_draw .title {
    padding-bottom: 2rem; }

section#section_prize {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  section#section_prize .prize {
    border: 2px solid #373b55;
    border-radius: 20px; }
  section#section_prize .title {
    position: relative; }
    section#section_prize .title h5 {
      position: absolute;
      top: -18px;
      left: 50%;
      display: inline-block;
      transform: translateX(-50%);
      background: #f9f9f9;
      padding-left: 40px;
      padding-right: 40px; }
      section#section_prize .title h5:before {
        left: 10%; }
      section#section_prize .title h5:after {
        right: 10%; }

section#section_prize_2 .title {
  padding-top: 64px; }
section#section_prize_2 .tag {
  background-color: #373b55;
  color: #fff;
  border-radius: 4px;
  padding: 4px; }

section#section_luckybag_content {
  padding: 4rem 0; }
  section#section_luckybag_content .content {
    margin: 0 auto; }
  section#section_luckybag_content .feature-list li {
    position: relative;
    padding-left: 16px; }
    section#section_luckybag_content .feature-list li:before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: #373c55;
      transform: rotate(45deg) translateY(-50%);
      position: absolute;
      left: 0;
      top: 50%; }

section#section_luckybag_content .title {
  padding-bottom: 80px; }
section#section_luckybag_content .gallery-slider {
  padding-left: 0;
  padding-right: 0; }
  section#section_luckybag_content .gallery-slider .bigImage {
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    overflow: hidden;
    position: relative; }
    section#section_luckybag_content .gallery-slider .bigImage img {
      width: 100%;
      padding: .5rem; }
  section#section_luckybag_content .gallery-slider .slick-slider {
    padding: .5rem; }
  section#section_luckybag_content .gallery-slider .slick-slide {
    cursor: pointer; }
  section#section_luckybag_content .gallery-slider .caresoul img {
    width: 100%;
    max-height: 203.89px; }
  section#section_luckybag_content .gallery-slider .slick-arrow, section#section_luckybag_content .gallery-slider .slick-arrow:focus, section#section_luckybag_content .gallery-slider .slick-arrow:active, section#section_luckybag_content .gallery-slider .slick-arrow:hover {
    position: absolute;
    background: #373c55;
    height: calc(100% - 1.25rem);
    z-index: 10;
    cursor: pointer; }
  section#section_luckybag_content .gallery-slider .slick-prev {
    left: 8px;
    transform: translate(0, -53%); }
    section#section_luckybag_content .gallery-slider .slick-prev::before {
      content: '\2039 ';
      font-weight: 900;
      font-size: 30px;
      margin-left: 4px; }
  section#section_luckybag_content .gallery-slider .slick-next {
    right: 8px;
    transform: translate(0, -53%); }
    section#section_luckybag_content .gallery-slider .slick-next:before {
      content: '\203A ';
      font-weight: 900;
      font-size: 30px;
      margin-right: -4px; }

section#section_rule {
  background-image: url("../dist/img/bg-5.png");
  background-size: cover;
  background-position: fixed;
  padding: 80px 0; }
  section#section_rule .title {
    padding-bottom: 80px; }
  section#section_rule .content {
    text-align: justify; }
    section#section_rule .content ol {
      margin-left: 24px; }

section#section_contact {
  background-image: url("../dist/img/bg-6.png");
  background-size: cover;
  background-position: center bottom;
  padding: 80px 0; }
  section#section_contact .content {
    background-color: #E9EEF5;
    width: 80%;
    margin: 0 auto;
    padding: 24px;
    box-shadow: 0 0 32px #cccccc; }
    section#section_contact .content ul > li {
      border-bottom: 1px solid #373c55; }
  section#section_contact span.notice {
    font-size: .8rem; }

#section_checkout, #section_search {
  padding: 80px 0; }
  #section_checkout .content, #section_search .content {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 32px #cccccc; }
    #section_checkout .content .cus-form-check-input, #section_search .content .cus-form-check-input {
      margin-top: .3rem; }
    #section_checkout .content .buyer-info label, #section_search .content .buyer-info label {
      margin-bottom: .3rem; }
  #section_checkout .order .order-item, #section_search .order .order-item {
    border-bottom: 1px solid #B8C5D4;
    padding-bottom: 1rem; }
  #section_checkout .total .total-item, #section_search .total .total-item {
    padding: 0.5rem 0; }

section#section_security {
  padding-top: 80px;
  padding-bottom: 80px; }

section#section_paymentResult {
  padding-top: 4rem;
  padding-bottom: 4rem; }
