
// ===================
// $reset
// ===================
a{
	text-decoration:none;
	color:#000000;
	&:hover{
		text-decoration:none;
		color:#000000;
	}
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
// ===================
// $variation
// ===================

// font

// color

$grey: #7e7e7e;
$dark-grey:#454545;
$black: #000000; 
$white: #fff; 
$main-color:#373c55;
$second-color:#707bb3;
$third-color:#E9EEF5;
$forth-color:#B8C5D4;
$buy-color:#CC2F49;
$success-color:#38B52F;
$fail-color:#CC483F;


.main-color{
	color:$main-color;
}
.second-color{
	color:$second-color;
}
.third-color{
	color:$third-color;
}
.forth-color{
		color:$forth-color;
}

.success-color{
		color:$success-color;
}
.fail-color{
		color:$fail-color;
}
.main-bg-color{
	background-color:$main-color}
.second-bg-color{
	background-color:$second-color}


// padding
$padding:8px;
$margin:8px;

@mixin title-img-box ($padding-bottom:28%){
	width:100%;
	height: 0;
	padding-bottom:$padding-bottom;
	position: relative;

	
}

@mixin ab_center (){
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



// ===================
// $public
// ===================

body{
	background-color:#f9f9f9;
	color:$main-color;
}

// ==========nav=============

.cus-fixed-top{
	position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 1030;
}

nav.main-nav{
	width: 100%;
	// height:60px;
	background-color: #E9EEF5;
	padding: 0 !important;

	ul {
		display: flex;
		flex-wrap:wrap;
		width:100%;
		height: 100%;
		li{
			position: relative;
			width:20%;
			height: 100%;
			display: block;
			box-sizing: border-box;
			text-align: center;
			a{
				position: relative;
				display: block;
				padding: 10px 15px;
				line-height:40px;
				color: #373c55;
				font-size: 1rem;
				font-weight: 600;
	            @media screen and (max-width:767px){
	            	width: 90px;
					padding:0;
					font-size: .8rem;
					margin:0 auto;

				}		
				&:after{
					content:'';
					display: inline-block;
		            width:4px;
		            height:4px;
		            background-color:  #373c55;
		            transform: rotate(45deg) translateY(-50%);
		            position: absolute;
		            left: 24%;
		            top: 50%;
		            @media screen and (max-width:767px){
					left: 8%;
						
					}	
				}
				&.active{
					background-color: #373c55;
					color:#fff;
				}
			}

		}
	}
}

// ==========footer=============


footer#section_footer{
	.link{
		li+li{
			border-left: 1px solid $white;
			padding-left:1rem;
		}
	}
}





.section_title{
	// .container-fluid{
	// 	padding-left:0px;
	// 	padding-right:0px;
	// }

	.title_section{
	@include title-img-box(20%);
	.title_section_mask{
		position:absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		width:100%;
		height:100%;
		background-color:$black;
		opacity:.3;
		z-index:1;
	}
	> img{
	@include ab_center();
	position:absolute;
	width:100%;
	height:100%;
	}

	
}

	.title_section_wrap{
		@include ab_center();
		z-index: 2;
		.custom-h3{
			color:$white;
			font-weight:400;
		}
		@media screen and (max-width:767px){
			width: 100%;
			.custom-h3{
				font-size:1.5rem;
				text-align:center;
			}
		}
	}
}

// ==========font=============

h3{
	font-size: 2rem;
}

h4{
	font-size: 1.75rem;
}

h5{
	font-size: 1.5rem;
}
h6{
	font-size: 1.25rem;
}

.title h5{
	font-size: 1.5rem;
	color:$main-color;
	display:inline-block;
	position: relative;
	&:before{
		content:'';
		display: inline-block;
	    width:4px;
	    height:4px;
	    background-color:  #373c55;
	    transform: rotate(45deg) translateX(-50%);
	    position: absolute;
	    left: -10%;
	    top: 50%;
	}
	&:after{
		content:'';
		display: inline-block;
	    width:4px;
	    height:4px;
	    background-color:  #373c55;
	    transform: rotate(45deg) translateX(-50%);
	    position: absolute;
	    right: -10%;
	    top: 50%;
	}
}

.flip-clock-wrapper ul li a div div.inn, body .flip-clock-small-wrapper ul li a div div.inn 
{ color: #CCCCCC; background-color: #333333; } 
.flip-clock-dot,.flip-clock-small-wrapper .flip-clock-dot { background: #323434; }
.flip-clock-wrapper .flip-clock-meridium a,.flip-clock-small-wrapper .flip-clock-meridium a 
{ color: #323434; }


.open-btn, .close-btn{
		position: relative;
	    color: #373b55;
	    font-weight: 300;
	    cursor: pointer;
	    font-size: 14px;
	    padding-top: 10px;

}

.cus-btn{
	color:$white;
	background-color: $main-color;
	&:hover{
		color:$white;
		background-color: lighten($main-color,16%);

	}
}


.buy {
    position: fixed;
    bottom: 0;
    left: 0%;
    z-index: 999;
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 1.33rem;
    font-weight: 400;
    background-color:$buy-color;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:hover{
    	background-color:lighten($buy-color, 15%);
    	color: $white;

    }

}




// ===================
// $index
// ===================
section#section_chance{
	background-image:url("../dist/img/bg-1.png");
	background-size: cover;
	background-position:center center;
	padding: 4rem 0;
	.title{
		padding-bottom:2rem;
	}
	.txt{
		span{
		&:first-child{
			font-size: 4rem;
			}
		}
	}
}



section#section_counting{
	padding: 4rem  0;
		.title{
			font-size:2rem;

		}
}


@media (max-width: 767.98px) { 
	section#section_counting{
		.title{
				text-align: center;
				width: 100%;
				padding-bottom: 2rem;

			}
		}
	}


section#section_include{
	background-image:url("../dist/img/bg-2.png");
	background-size: cover;
	background-attachment:fixed;
	padding: 4rem 0;
	.title{
		padding-bottom:2rem;
	}
	.tag{
		display: inline-block;
		padding:8px 24px;
		font-size: 1.25rem;
		background-color:#373b55;
		border-radius:40px;
		color:#fff;

	}
	.txt{
		display: inline-block;
		margin-left: 8px;
		margin-top: 8px;
		overflow : hidden;
		text-overflow : ellipsis;
		white-space : nowrap;
		width : 72%;
	}
	.open-btn{
		margin-left: 8px;
	}
}

section#section_draw{
	padding: 4rem 0;

	.title{
		padding-bottom:2rem;
	}
}

section#section_prize{
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
	.prize{
		border: 2px solid #373b55;
		border-radius: 20px;

		.img-wrapper{
			// padding: 40px;
		}
	}

	.title{
		position: relative;
		h5{
			position: absolute;
		    top: -18px;
		    left: 50%;
		    display: inline-block;
		    transform: translateX(-50%);
		    background: #f9f9f9;
		    padding-left: 40px;
		    padding-right: 40px;
		    &:before{
		    	left: 10%;
		    }
		    &:after{
		    	right: 10%;
		    }

		}
	}
}

section#section_prize_2{
		.title{
			padding-top: 64px;
			// padding-bottom: 64px;
		}
		.tag{
			background-color:#373b55;
			color:#fff;
			border-radius: 4px; 
			padding:4px;
		}
}

section#section_luckybag_content{
	padding:4rem 0;
	.content{
		margin: 0 auto;
	}
	.feature-list{
		li{
			position: relative;
			padding-left: 16px;
			&:before{
				content:'';
				display: inline-block;
	            width:4px;
	            height:4px;
	            background-color:  #373c55;
	            transform: rotate(45deg) translateY(-50%);
	            position: absolute;
	            left:0;
	            top: 50%;
			}
		}
	}
}

section#section_luckybag_content{
	.title{
		padding-bottom:80px;
	}
	 .gallery-slider{
	    padding-left: 0;
	    padding-right: 0;
	    .bigImage{
	      width:100%;
	      height:0;
	      padding-bottom: 60%;
	      overflow: hidden;
	      position: relative;
	      img{
	        width: 100%;
	        padding:.5rem;
	      }
	    }
		
		.slick-slider{
			padding:.5rem;

		}

	    .slick-slide{
	      cursor: pointer;
	      }

	    .caresoul img {
	      width: 100%;
	      max-height: 203.89px;
	      // padding:.5rem;

	    }
	    .slick-arrow, .slick-arrow:focus, .slick-arrow:active, .slick-arrow:hover {
	      position: absolute;
	      background:$main-color;
	      height: calc(100% - 1.25rem);
	      z-index: 10;
	      cursor: pointer;
	    }
	    .slick-prev {
	      left: 8px;
	      transform: translate(0, -53%);
	      &::before{
	        content: '\2039 ';
	        font-weight: 900;
	        font-size: 30px;
	        margin-left: 4px;

	      }
	    }
	    .slick-next {
	      right: 8px;
	      transform: translate(0, -53%);

	      &:before{
	        content: '\203A ';
	        font-weight: 900;
	        font-size: 30px;
	        margin-right: -4px;


      }
    }
  }
}


section#section_rule{
	background-image:url("../dist/img/bg-5.png");
	background-size: cover;
	background-position:fixed;
	padding: 80px 0;
	.title{
		padding-bottom:80px;
	}
	.content{
		text-align: justify;
		ol{
			margin-left: 24px;
		}
	}
}


section#section_contact{
	background-image:url("../dist/img/bg-6.png");
	background-size: cover;
	background-position:center bottom;
	padding: 80px 0;
	.content{
		background-color: $third-color;
		width: 80%;
		margin: 0 auto;
		padding: 24px;
		box-shadow: 0 0 32px rgba(#ccc, 15%);

		ul > li{
			border-bottom:1px solid $main-color;
			} 
		}
		span.notice{
			font-size:.8rem;
		}
	}


	// ===================
	// $checkOut
	// ===================

#section_checkout,#section_search{
	padding: 80px 0;
	.content{
		background-color:$white;
		padding:2rem;
		box-shadow: 0 0 32px rgba(#ccc, 15%);

		.cus-form-check-input{
		    margin-top: .3rem;
		}
		.buyer-info label{
			margin-bottom: .3rem;
		} 
	}

	.order{
		.order-item{
			border-bottom:1px solid #B8C5D4;
			padding-bottom: 1rem;
		}
	}

	.total{
		.total-item{
			padding:.5rem 0 ;
		}
	}
	


}


// ===================
// $security
// ===================

section#section_security{
	padding-top:80px;
	padding-bottom:80px;
}
// ===================
// $paymentResult
// ===================

section#section_paymentResult{
	padding-top: 4rem;
	padding-bottom: 4rem;
}
